body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.newtask-container, .newproject-container, .login-container {
    max-width: 400px;
    margin: 100px auto;
}
.dashboard-container {
    max-width: 800px;
    margin: 50px auto;
}
.newtask-container, .newproject-container, .dashboard-container, .login-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.admin-panel, .user-panel, .task-container {
    margin-top: 30px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 5px;
}
.admin-panel h2, .user-panel h2, .task-container h2 {
    margin-top: 0;
}
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
button {
    display: block;
    margin: 0 auto;
    margin-top: 2px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="text"], input[type="password"], textarea {
    padding: 10px 50px;
    padding-inline-end: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}